<div id="reply-contact_screen">
    <div class="reply-contact-use" id="reply_contact">
      <h1 class="color-primary"> Reply Email for User </h1>
      <%= form_tag admin_contacts_us_send_mail_path, method: "post" do %>
      <table class="table">
        <tbody>
          <%= hidden_field_tag :id, @contact_reply.id %>
          <tr>
            <td width="20%"><%= label_tag(:from_email, "From Email:") %> <span>※</span></td>
            <td>support@bit-itrade.com</td>
          </tr>
          <tr>
            <td width="20%"><%= label_tag(:to_email, "To Email:") %> <span>※</span></td>
            <td><%= text_field_tag :to_email, @contact_reply.from_email %></td>
          </tr>
          <tr>
            <td width="20%"><%= label_tag(:subject, "Subject:") %> <span>※</span></td>
            <td><%= text_area_tag :subject, t('.subject_reply'), size: "50x2" %></td>
          </tr>
          <tr>
            <td width="20%"><%= label_tag :content, 'Content:' %></td>
            <td><%= text_area_tag :content, params[:content], placeholder: "Enter Content", size: "50x10" %><span>※</span></td>
          </tr>
          <tr>
            <td width="20%"></td>
            <td>
              <div class="btn-submit-reply">
                <%= submit_tag "Send Mail", class: 'btn btn-default'%>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
      <% end %>
    </div>
</div>