<%= form_for :deposit, :url => admin_deposits_banks_path, :method => 'POST',  html: {class: 'form-horizontal'} do |f| %>
	<div class="form-group">
		<label for="deposit_sn_code" class="control-label col-sm-2"><%= t('.code') %></label>
		<%= f.text_field:sn_code, class: "form-control", style: "width: 20%"%>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2"></label>
		<p style="color: red;">※コードとは、振込氏名の頭に入力された6桁の数字です。</p>
	</div>
	<div class="form-group">
		<label for="deposit_amount" class="control-label col-sm-2"><%= t('.amount') %> </label>
		<%= f.number_field:amount, id: "deposit_amount", class: "form-control", style: "width: 20%"%> 円
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit t('.btn_next'), class: "btn btn-primary"%>
		</div>
	</div>
<% end %>
