<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span>検索</span>
    </div>
    <div class="panel-body">
      <div class="row" >
        <%= form_for :search, url: admin_referrer_search_path, method: 'get' do |f| %>
          
          <div class="col-xs-1 submit_order">
            <div class="input-group">
              <%=f.text_field :content_search, class: 'form-control', autofocus: true, required: true, placeholder: 'IDまたはメールを入力してください', style: 'min-width: 300px' %>
              <span class="input-group-btn">
                <%= submit_tag "検索する", class: "btn btn-secondary"%>
              </span>
            </div>
          </div>
        <% end %>
      </div>
      <%= button_to "すべて表示", admin_referrer_path, method: "get", class: "btn btn-secondary", style: "margin-top: 30px;"%>
    </div>

  </div>
</div>

<div class="row referrer_list">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span>
        メンバー紹介のリスト
      </span>
    </div>
    <div class="panel panel-body">
      <table class="table table-condensed table-hover">
        <thead>
           <tr>
             <th>ユーザー紹介 ID</th>
             <th>ユーザー紹介</th>
             <th>ユーザー ID</th>
             <th>ユーザー名</th>
           </tr>
        </thead>
        <tbody>
          <%if  @referrer_list %>
            <% @referrer_list.each do |referrer| %>
              <tr>
                <td class="col-xs-1"><%= referrer[:referrer_id] %></td>
                <td class="col-xs-5"><%= referrer[:referrer_email] %></td>
                <td class="col-xs-1"><%= referrer[:id] %></td>
                <td class="col-xs-5"><%= referrer[:email] %></td>
              </tr>
            <%end%>
          <%end%>
        </tbody>
      </table>
    </div>
    <%= paginate @members %>
  </div>
</div>
