<div class="col-xs-12" id="account_balance">
  <div class="balances">
    <ul class="title">
      <li class="currency">
        <%= t(".currency") %>
      </li>
      <li class="account">
        <%= t(".amount") %>
      </li>
      <li class="lock">
        <%= t(".lock") %>
      </li>
      <li class="available">
        <%= t(".available") %>
      </li>
      <li class="rate">
        <%= t(".rate") %>
      </li>
      <li class="convert_to_yen">
        <%= t(".convert_to_yen") %>
      </li>
    </ul>
    <div class="list_coin">
      <% accounts.each do |account| %>
        <div class="row">
          <div class="coin_name">
            <%= image_tag "/icon-#{account.currency}.png", class: "icon-currency" %>
            <span><%= account.currency.upcase %></span>
          </div>
          <div class="amount_balance">
            <div class="label_title">
              <%= t(".amount") %>:
            </div>
            <%= account.balance.to_f %>
          </div>
          <div class="amount_lock">
            <div class="label_title">
              <%= t(".lock") %>:
            </div>
            <%= account.locked.to_f %>
          </div>
          <div class="amount_available">
            <div class="label_title">
              <%= t(".available") %>:
            </div>
            <%= account.balance.to_f - account.locked.to_f %>
          </div>
          <div class="rate_value">
            <div class="label_title">
              <%= t(".rate") %>:
            </div>
            <%= number_to_currency(@coincheck_price[account.currency].to_f, unit: "", precision: 2) %>
          </div>
          <div class="estimated">
            <div class="label_title">
              <%= t(".convert_to_yen") %>:
            </div>
            <% @t = (account.balance.to_f + account.locked.to_f) * @coincheck_price[account.currency].to_f * @total_rate%>
            <%= number_to_currency(@t, unit: @base_unit) %>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
