<style>
  .success {
    color: green;
  }
  .fails {
    color: red;
  }
</style>

<h2>TAO 送金</h2>
<div class="container">
  <%= form_tag admin_admin_send_coin_path, method: :post , class: 'form-horizontal', id: 'f_send_coin' do %>
    <div class="form-group">
      <%= label_tag 'email', "メール先:", class: 'control-label col-sm-3'%>
      <div class="col-sm-9">
        <%= email_field_tag 'email', nil ,class: 'form-control' %>
      </div>
      <div class="col-sm-1">
        <i class="fa fa-check success hidden" id="mail_ok" aria-hidden="true"></i>
        <i class="fa fa-check fails hidden" id="mail_fails" aria-hidden="true"></i>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag 'amount', "数量:", class: 'control-label col-sm-3' %>
      <div class="col-sm-9 input-group">
        <%= number_field_tag 'amount', nil, min: 1, class: 'form-control' %>
        <span class="input-group-addon" id="basic-addon2">TAO</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= submit_tag "送金", id: "send", class: 'btn btn-primary'%>
      </div>
    </div>
  <% end %>
</div>

<h2>履歴</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @history.each do |h| %>
      <tr>
        <td><%= link_to h.email, admin_member_path(h.user_id_destination) %></td>
        <td><%= h.amount %></td>
        <td><%= h.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @history %>

<script type="text/javascript">
$(document).ready(function() {
  $("#send").click(function(e) {
    e.preventDefault();
    var r = confirm("送金するのはよろしでしょうか？");
    if (r == true) {
      $("#f_send_coin").submit();
    }
  });

  $("#email").blur(function(){
    var email = $(this).val();
    var data = {
      email: email
    }
    $.ajax({
      type: "GET",
      url: "/admin/email_exits",
      data: data,
      success: function (data) {
        if (data.success) {
          $("#mail_ok").removeClass("hidden");
          if($("#mail_fails").hasClass("hidden") == false){
            $("#mail_fails").addClass("hidden");
          }
        }else {
          $("#mail_fails").removeClass("hidden");
          if($("#mail_ok").hasClass("hidden") == false) {
            $("#mail_ok").addClass("hidden");
          }
        }
      },
      error: function (textStatus, errorThrown) {
        alert("FAILS");
      }
    });
  });

});
</script>
